@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

html, 
body{
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
}

body{
  background: linear-gradient(to bottom, #EA4A88, #C4A6CF);
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  background-attachment: fixed;
}

.name{
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 52px;
}

section, .nav{
  color: #EA4A88;
  position: relative;
}
.nav{
  margin: 20px auto 35px auto;
  max-width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav_button{
  background: #fff;
  text-decoration: none;
  color: #EA4A88;
  padding: 12px;
  border-radius: 20px;
  margin-right: 10px;
  position: relative;
  font-weight: 700;
}

  .nav_button:active,
  .nav_button.active{
    background: transparent;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-weight: 700;
    border: 1px solid #fff;
  }

  .nav_button:not(.active):before{
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    min-width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #e7dbeb;

    z-index: -1;
  }


.content-cont{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  display: none;
  position: absolute;
}
#developer:target, 
#designer:target, 
#letterer:target{
  display: flex;
}
section.content-box{
  padding: 10px 30px 40px 20px;
  margin-right: 20px;
  max-width: 450px;
  min-width: 300px;
  border-radius: 0 20px;
  min-height: 200px;
  max-height: 2000px;
  align-self: flex-start;
}

  section.content-box:not(.inverted){
    background: #fff;
  }

  section.content-box h2{
    font-size: 0.8em;
    color: #B79DEB;
  }

  section.content-box p{
    color: #696969;
    text-transform: initial;
    margin-bottom: 0.8em;
  }

  section.content-box img{
    max-width: 100%;
  }
  section.content-box .caption{
    text-align: center;
    font-size: 0.9em;
    color: #EA4A88;
    margin-bottom:0.8em;
  }

  .inverted{
    background: none;
    color: #fff;
  }
    .inverted h1{
      text-align: center;
    }

    .inverted a{
      color:#fff;
    }


h1, 
h2, 
h3, 
p{
  padding: 0;
  margin: 0;
}

a{
  color: #B79DEB;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}

.centered{
  text-align: center;
}

p a:before, p a:after{
  content: '\2726';
}

.codepen{
  margin: 1em auto;
}
 