@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

html,
body{
  width: 100%;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
}

body{
  background: linear-gradient(to bottom, #EA4A88, #C4A6CF);
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  background-attachment: fixed;
}
.overlay:not(.active){ display: none; }
.overlay.active {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.5);
}
  .overlay.active > div {
    max-width: 67%;
    width: fit-content;
    position: relative;
    background: #fff;
    margin: 50px auto;
    padding: 20px;
  }
  .close-overlay {
    outline: none;
    position: absolute;
    width: 1.5em;
    top: 8px;
    right: 11px;
    font-size: 1em;
    background: #fff;
    color: #EA4A88;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #EA4A88;
    box-shadow: 3px 3px #EA4A88;
  }
  .overlay-content img{
    width: 100%;
  }
  .has-overlay {
    cursor: pointer;
  }

.name{
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 52px;
  margin-top: 20px;
  animation: float 5s ease-in-out infinite;
}

section, .nav{
  color: #EA4A88;
  position: relative;
}
.nav{
  margin: 20px auto 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav_button{
  background: #fff;
  text-decoration: none;
  color: #EA4A88;
  padding: 14px 20px;
  border-radius: 20px;
  margin-right: 25px;
  position: relative;
  font-weight: 700;
  cursor: pointer;
}

  .nav_button:active,
  .nav_button.active{
    background: transparent;
    text-decoration: none;
    color: #fff;
    position: relative;
    font-weight: 700;
    border: 1px solid #fff;
  }

  .nav_button:not(.active):before{
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    min-width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #e7dbeb;
    z-index: -1;
  }
  .nav:not(.active) .nav_button {
    font-size: 1.4em;
    padding: 0.4em 0.8em;
    border-radius: 18px;
  }
  .nav:not(.active) .nav_button:before {
    border-radius: 18px;
  }

.hidden {
  display: none !important;
}
.content-cont{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  display: flex;
}
section.content-box{
  padding: 25px 20px;
  margin-right: 20px;
  margin-top: 15px;
  max-width: 600px;
  min-width: 300px;
  border-radius: 0 20px;
  min-height: 200px;
  align-self: flex-start;
}

  section.content-box:not(.inverted){
    background: #fff;
  }

  section.content-box h2{
    font-size: 0.8em;
    color: #B79DEB;
  }

  section.content-box p{
    color: #696969;
    text-transform: initial;
    margin-bottom: 0.8em;
  }

  section.content-box img{
    max-width: 100%;
  }
  section.content-box .caption{
    text-align: center;
    font-size: 0.9em;
    color: #EA4A88;
    margin-bottom:0.8em;
  }

  .inverted{
    background: none;
    color: #fff;
  }
    .inverted h1{
      text-align: center;
    }

    .inverted a{
      color:#fff;
    }

  .content-box ul {
    margin-top: 0px;
  }

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h1 { 
  line-height: 1em;
  padding-bottom: 15px;
}

a {
  color: #B79DEB;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}
  a:hover {
    color: #EA4A88;
  }

.centered{
  text-align: center;
}

p a:before, p a:after{
  content: '\2726';
}

.codepen{
  margin: 1em auto;
}

.about-me{
  width: 50%;
  margin: 3em auto;
}
.about-me > div{
  color: #fff;
  padding: 4% 5% 5% 4%;
  border: 2px solid #fff;
  border-radius: 10px;
  min-height: 150px;
  box-shadow: 5px 5px #fff;
}
  .about-me h1 {
    margin-bottom: 10px;
  }
  .about-me .photo img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: left;
    background: #fff;
    margin-right: 20px;
    border: 2px solid #fff;
  }
  .about-me p{
    text-transform: initial;
  }
  .about-me .social{
    padding-top:10px;
  }
  .about-me .social img{
    width:6%;
    height:6%;
    margin:auto 1%;
  }

  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {

      body{
        font-size: 52px;
      }
      body .content-box{
        max-width: 90%;
      }
      .name {
        font-size: 100px;
      }
      body .nav{
        max-width: 100%;
      }
      body .nav_button{
        padding: 2.3%;
      }
      .nav_button.active {
        border-width: 5px;
      }
      body .nav_button, 
      body .nav_button:not(.active):before,
      .nav:not(.active) .nav_button,
      .nav:not(.active) .nav_button:before {
        border-radius: 40px;
      }
      .nav:not(.active) .nav_button {
        font-size: 52px;
        padding: 2.3%;
      }
      body .about-me{
        width: 90%;
        margin: 1em;
      }
      .about-me > div {
        border-width: 6px;
        box-shadow: 8px 8px #fff;
      }
      body .about-me h1{
        font-size: 70px;
      }
      body .about-me p{
        font-size: 0.5em;
      }
      body .about-me .photo img{
        height: 200px;
        width: 200px;
      }
      .about-me .social img {
        height: 10%;
        width: 10%;
      }
      body .content-box p, body .content-box h2, body .content-box .caption{
        font-size: 0.6em;
      }
      .overlay.active > div {
        max-width: 99%;
        width: inherit;
      }
      .close-overlay {
        border-width: 4px;
      }

}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes shrink {
  0% {
    font-size: 32px;
  }
  100% {
    font-size: 18px;
  }
}